<h1 class="title">All Users</h1>

<div class="user-index">
<%= will_paginate %>

<% @users.each do |user| %>
	<div class="user-index-user">
		<% if !user.image.nil? %>
			<img src="<%= user.image %>?width=50" class="index-image">
		<% else %>
			<img src="<%= asset_path( 'noimage.jpg' ) %>" style="width: 50px;">
		<% end %>
		<%= link_to "#{user.name}", user %>
		<%= render partial: 'friendships/add_remove_friend', locals: { user: user } %>
		
	</div>
<% end %>

<%= will_paginate %>

</div>