<h1><%= @user.name %></h1>
<p>Find me in app/views/users/show.html.erb</p>

<img src="<%= @user.image %>?width=200" class="profile-image">
<p><%= @user.email %></p>

<%= render partial: 'friendships/add_remove_friend', locals: { user: @user } %>

<h3>Friends list</h3>
<ul>
	<% @user.friends.each do |friend| %>
		<li>
			<%= link_to "#{friend.email}", friend %>
		</li>
	<% end %>
</ul>

<%= render 'shared/post_form' if @user == current_user %> 

<h3>Posts</h3>
<%= render 'shared/feed' if @user == current_user or friendship_status(@user) == "friends" %>

<% if @user == current_user %>
	<%= link_to "delete user", user_path, method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>