<h1>Users#show <%= @user.email %></h1>
<p>Find me in app/views/users/show.html.erb</p>

<p><%= @user.email %></p>

<% if @user != current_user %>
	<% case friendship_status 
		when false %>
		<%= link_to 'Add Friend', user_friendships_path(user_id: @user.id), method: :post %>
	<% when 'friends' %>
		<%= link_to 'Remove Friend', user_friendship_path(user_id: @user.id), method: :delete %>
	<% when 'request sent' %>
		Friend request sent
		<%= link_to 'Remove friend request', user_friendship_path(user_id: @user.id), method: :delete %>
	<% when 'accept friend request' %>
		<%= link_to 'Accept friend request', user_friendship_path(user_id: @user.id), method: :patch %>
		<%= link_to 'Decline friend request', user_friendship_path(@user.id), method: :delete %>
	<% end %>
<% end %>

<h3>Friends list</h3>
<ul>
	<% @user.friends.each do |friend| %>
		<li>
			<%= link_to "#{friend.email}", friend %>
		</li>
	<% end %>
</ul>

<%= render 'shared/post_form' if @user == current_user %> 

<% if @user == current_user %>
	<%= link_to "delete user", user_path, method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>