<li>
	<div class="post-user">
		<%= link_to post.user.email, post.user %>
	</div>
	<div class="post-content">
		<%= post.content %>
	</div>
	<div class="timestamp">
		Posted <%= time_ago_in_words(post.created_at) %> ago.
	</div>
	<div class="likes">
		<div class="dropdown">
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	        	<%= pluralize(post.likes.count, "like") %> <b class="caret"></b>
	        </a>
	       	<ul class="dropdown-menu">
	       		<% if post.likes.any? %>
		       		<% post.likes.each do |like| %>
		       			<li>
	       					<%= link_to like.user.email, like.user %>
	    	   			</li>
	    	   		<% end %>
	    	   	<% else %>
	    	   		<li>No likes yet</li>
	    	   	<% end %>
	       	</ul>
	    </div>
		<% if current_user == post.user %>
			<%= link_to "Delete post", post, method: :delete, data: {confirm: "Are you sure?"} %>
		<% elsif !current_user.like?(post) %>
			<%= link_to "Like", post_likes_path(post.id), method: :post %>
		<% else %>
			<%= link_to "Unlike", post_like_path(post.id, Like.find_by(post: post, user: current_user)), method: :delete %>
		<% end %>
	</div>
	<div class="comments">
		<% if post.comments.any? %>
	    	<% post.comments.each do |comment| %>
	    		<li>
	    			<%= comment.content %> | by: <%= link_to comment.user.email, comment.user %>
	    			<%= link_to "Delete comment", post_comment_path(post.id, comment), method: :delete if comment.user == current_user %>
	    		</li>
	    	<% end %>
	    <% end %>
	    <%= render partial: 'comments/comment_form', locals: { post: post} %>
	</div>
</li>